.mc-banner {
	position: relative;
	min-height: 220px;
	border-radius: 10px;
	overflow: hidden;
	.image {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: 0 0;
	}
	.desktop-img {
		display: none!important;
	}
	.mobile-img {
		display: block!important;
	}
	.content {
		position: absolute;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0px 0 0 22px;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		color: var(--light);
		box-sizing: border-box;
		z-index: 2;
		background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
		h2 {
			font-size: 20px;
		}
		.btn-md {
			font-weight: 400;
			width: 100px;
		}
		.left {
			img {
				width: 130px;
			}
		}
		.right {
			img {
				display: none;
			}
		}
	}
	@include media-breakpoint-up(md) {
		height: 350px;
		.desktop-img {
			display: block!important;
		}
		.mobile-img {
			display: none!important;
		}
		.content {
			padding: 0px 0 0 35px;
			p {
				font-size: 16px;
				font-weight: 500;
			}
			.btn-md {
				padding: 12px 20px;
				font-size: 17px;
				width: 180px;
			}
			.left {
				img {
					width: auto;
				}
			}
			.right {
				img {
					display: block;
				}
			}
		}
	}
}

.mc-content {
	.title {
		font-size: 16px;
		font-weight: 700;
		margin: 20px 0px;
	}
	p {
		font-size: 16px;
		font-weight: 400;
		line-height: 23px;
		color: #707070;
		letter-spacing: -0.05em;
	}
	ul {
		padding: 20px;
		li {
			list-style: disc;
			text-align: left;
			font-size: 16px;
			font-weight: 400;
			line-height: 23px;
			color: #707070;
			letter-spacing: -0.05em;
		}
	}
	img {
		margin: 1em;
	}
	.btn {
		font-size: 15px;
		padding: 15px 25px;
		font-weight: 600;
		@include media-breakpoint-down(sm) {
			width: 100%;
			padding: 10px;
			font-size: 14px;
		}
	}
	s {
		opacity: .7;
	}
}

.mc-landing-banner {
	margin: 0 -15px;
	padding: 60px 15px 15px;
	background: no-repeat center/cover url(../img/masterclass/top-bg.png)
	var(--dark);
	.mc-logo {
		display: block;
		margin: auto;
		width: 275px;
		height: auto;
		img {
			margin: 1rem 0;
		}
	}

	.gadget {
		display: inline-block;
		padding: 2px 7px;
		font-size: 10px;
		font-weight: 700;
		color: var(--dark);
		background-color: var(--light);
		border-radius: 60px;
		box-shadow: 0px 4px 4px rgba(var(--dark), 0.25);
	}

	.title {
		margin: 1rem 0;
		font-size: 20px;
		color: var(--light);
		text-align: center;
	}

	.subtitle {
		font-size: 16px;
		font-weight: 400;
		line-height: 1.4;
		color: var(--light);
		text-align: center;
	}

	.mc-home-video {
		position: relative;
		margin: auto;
		width: 90%;
		max-width: 800px;
		//height: 30vh;
		max-height: 650px;
		border-radius: 8px;
		overflow: hidden;
		-webkit-mask-image: -webkit-radial-gradient(white, black);
		z-index: 3;
		video {
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		@include media-breakpoint-up(md) {
			height: 500px;
		}
	}
}

.mc-custom-button {
	font-size: 20px !important;
	font-weight: 600 !important;
	text-transform: uppercase;
}

#how-to-carousel {
	position: relative;
	.box-round {
		padding: 50px!important;
		height: 100%;
	}
	i {
		background: #d0d0d0;
		border-radius: 50%;
	}
	.bi-clock {
		padding: 10px 20px;
		font-size: 40px;
	}
	.icon-camera-video {
		padding: 30px 17px;
		font-size: 35px;
	}
	.icon-hand-thumbs-up {
		padding: 20px 20px;
		font-size: 40px;
	}
	h4 {
		font-size: 16px;
		line-height: 12px;
		text-align: center;
		letter-spacing: -0.05em;
		color: #000000;
		margin-bottom: 0px;
	}
	p {
		font-size: 14px;
		line-height: 23px;
		color: #707070;
	}
	.owl-dots {
		position: absolute;
		bottom: 15px;
		width: 100%;
	}
	.owl-dot {
		span {
			background: #C4C4C4;
		}
	}
	.owl-dot.active {
		span {
			background: #3F19D7;
		}
	}
}

.masterclass-content-box {
	img {
		margin: 5px 1em 1em;
	}
	.description {
		font-size: 14px;
		color: var(--gray);
	}
}

.thank-you-box {
	width: 100%;
	border-radius: 10px;
	padding: 20px;
	background: url("../img/bg-thankyou.png");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	margin-top: 70px;
	.image-top {
		position: absolute;
		top: -70px;
		border-radius: 50%;
		left:0;
		right:0;
		margin-left:auto;
		margin-right:auto;
		display: flex;
		justify-content: center;
	}
	h3 {
		font-size: 16px;
		line-height: 107%;
		text-align: center;
		color: #FFFFFF;
		margin-top: 70px;
		border-bottom: 1px solid #7d7d7d;
		padding-bottom: 30px;
	}
	p {
		font-weight: normal;
		font-size: 16px;
		line-height: 30px;
		text-align: center;
		letter-spacing: -0.01em;
		color: #FFFFFF;
		padding: 20px 0px;
	}
}

.ticket-custom-button {
	font-size: 16px;
	width: 80%;
	margin: 0 auto;
	padding: 15px 0px;
}

.woocommerce-form-coupon {
	.form-title {
		font-size: 12px;
		font-weight: 700;
		color: #212121;
		padding: 20px 0px;
	}
	#coupon_code {
		background: #FFFFFF;
		border: 1px solid #C4C4C4!important;
		box-sizing: border-box;
		border-radius: 8px;
		height: 100%;
	}
	.btn-outline-light {
		font-weight: bold;
		font-size: 14px;
		line-height: 19px;
		color: #212121;
		padding: 20px 30px;
		:hover {
			color: #fff!important;
		}
	}
	.woocommerce-notices-wrapper {
		display: none;
	}
}

.woocommerce-notices-wrapper {
	margin-top: 70px;
}
