@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");
$font-primary: "Poppins", sans-serif;

h1,
h2,
h3,
h4 {
	font-family: $font-primary;
}

h1,
h2 {
	margin: 0;
	font-size: 1rem;
	font-weight: 600;
}

h3,
.h3,
h4,
.h4 {
	margin-bottom: 0.8rem;
	font-size: 0.9rem;
	font-weight: 700;
}

p {
	font-size: 12px;
	font-weight: 400;
	&.muted {
		opacity: 0.8;
	}
}

a {
	font-family: $font-primary;
	font-size: 0.8rem;
	font-weight: 600;
}

.title-alt {
	font-family: $font-primary;
	font-size: 26px;
	font-weight: 700;
}

.link-alt {
	font-family: $font-primary;
	font-size: 14px;
	font-weight: 400;
	color: inherit;
	text-decoration: underline;
	&:hover,
	&:active {
		color: inherit;
		text-decoration: underline;
	}
}

.no-underline {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
	&:hover, &:active {
		color: inherit;
		text-decoration: none;
	}
}

.btn {
	font-size: 0.8rem;
}

.btn-lg {
	font-size: 0.8rem;
	font-weight: 600;
	letter-spacing: 0.03rem;
}

legend {
	font-weight: bold;
}
