.accordion-faq {
  .accordion-header {
    button {
      width: 100%;
      background: transparent;
      font: var(--pol-font-16-regular);
      color: var(--bs-low-pure);
      border: none;
      text-align: left;
      border-bottom: 1px solid var(--bs-high-medium);
      padding: 25px 0px;
      position: relative;
      svg {
        position: absolute;
        right: 0;
      }
    }
    button[aria-expanded="true"] {
      svg {
        transform: rotate(90deg);
      }
    }
  }
  .accordion-collapse {
    .accordion-body {
      font: var(--pol-font-14-regular);
      color: var(--bs-low-pure);
      padding: 5px 0px;
    }
  }
}