.talent-breadcrumb {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  li {
    list-style: ">";
    padding-left: 5px;
    font-weight: 400;
    margin: 5px 15px 5px 0px;
    a {
      color: var(---primary);
      font: var(--pol-font-16-regular);
      font-weight: 600;
      border-bottom: 1px solid #000;
      padding-bottom: 2px;
    }
  }
  li:first-child {
    list-style: none;
    padding-left: 0;
  }
  li::first-letter {
    text-transform:capitalize;
  }
}