.polen-card {
	.image {
		position: relative;
		overflow: hidden;
		width: 100%;
		font-size: 20px;
		border-radius: 10px;
		box-sizing: border-box;
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			min-width: 100%;
			min-height: 100%;
			height: auto;
			transform: translate(-50%, -50%);
		}
		.price {
			position: absolute;
			bottom: 10px;
			right: 20px;
			font-size: 20px;
			font-weight: 700;
		}
	}
	&.medium {
		.image {
			height: 330px;
			@include media-breakpoint-down(sm) {
				height: 700px;
			}
			@include media-breakpoint-only(md) {
				height: 205px;
			}
			@include media-breakpoint-only(lg) {
				height: 288px;
			}
		}
	}
	.title,
	.category {
		font-size: 20px;
		a {
			color: white;
		}
		@include media-breakpoint-only(md) {
			font-size: 16px;
		}
	}
	.title {
		font-weight: 700;
	}
	&.small {
		.image {
			height: 257px;
			@include media-breakpoint-down(sm) {
				height: 700px;
			}
			@include media-breakpoint-only(md) {
				height: 162px;
			}
			@include media-breakpoint-only(lg) {
				height: 216px;
			}
			.price {
				font-size: 16px;
			}
		}
		.title,
		.category {
			font-size: 16px;
		}
	}
	&.category {
		position: relative;
		padding: 50px 20px;
		border-radius: 10px;
		text-align: center;
		overflow: hidden;
		background-color: $default-bg-color;
		img {
			display: block;
			position: absolute;
			min-width: 100%;
			min-height: 100%;
			height: auto;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		.link {
			position: relative;
			color: white;
		}
	}
	@include media-breakpoint-only(sm) {
		margin-bottom: 40px;
	}
}

.top-banner {
	position: relative;
	width: 100%;
	.video {
		width: 100%;
		max-width: 100%;
	}
	.content {
		position: absolute;
		width: 80%;
		top: 50%;
		left: 10%;
		text-align: center;
		transform: translate(0, -50%);
		.title {
			margin-bottom: 30px;
			font-size: 72px;
			@include media-breakpoint-down(xs) {
				font-size: 6vw;
			}
			@include media-breakpoint-down(sm) {
				font-size: 5vw;
			}
			@include media-breakpoint-only(md) {
				font-size: 44px;
			}
		}
		.link {
			position: relative;
			display: inline-flex;
			align-items: center;
			font-size: 16px;
			&::before {
				content: "";
				display: inline-block;
				margin-right: 24px;
				width: 60px;
				height: 60px;
				border-radius: 50%;
				background-color: $primary;
			}
			&::after {
				content: "";
				position: absolute;
				display: inline-block;
				width: 0;
				height: 0;
				left: 25px;
				border-top: 8px solid transparent;
				border-bottom: 8px solid transparent;

				border-left: 12px solid white;
			}
		}
	}
}

.col-flex-20 {
	margin-bottom: 20px;
	width: 18%;
}

.tutorial-card {
	text-align: center;
	.image {
		position: relative;
		margin: 0 auto 40px;
		width: 200px;
		height: 200px;
		overflow: hidden;
		border-radius: 50%;
		background-color: $default-bg-color;
		img {
			position: absolute;
			min-width: 100%;
			height: auto;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	.title {
		margin-bottom: 20px;
		font-size: 20px;
		font-weight: 700;
	}
	.description {
		font-size: 20px;
		line-height: 36px;
		font-weight: 400;
	}
}
