.polen-card {
	.image {
		position: relative;
		overflow: hidden;
		width: 100%;
		font-size: 20px;
		border-radius: 10px;
		box-sizing: border-box;
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100%;
			height: auto;
			transform: translate(-50%, -50%);
		}
		.price {
			position: absolute;
			bottom: 10px;
			right: 20px;
			font-size: 20px;
			font-weight: 700;
		}
	}
	&.medium {
		.image {
			height: 330px;
			@include media-breakpoint-only(sm) {
				height: 700px;
			}
			@include media-breakpoint-only(md) {
				height: 205px;
			}
			@include media-breakpoint-only(lg) {
				height: 288px;
			}
		}
	}
	.title,
	.category {
		font-size: 20px;
		a {
			color: white;
		}
		@include media-breakpoint-only(md) {
			font-size: 16px;
		}
	}
	.title {
		font-weight: 700;
	}
	&.small {
		.image {
			height: 257px;
			@include media-breakpoint-only(sm) {
				height: 700px;
			}
			@include media-breakpoint-only(md) {
				height: 162px;
			}
			@include media-breakpoint-only(lg) {
				height: 216px;
			}
			.price {
				font-size: 16px;
			}
		}
		.title,
		.category {
			font-size: 16px;
		}
	}
	&.category {
		padding: 50px 20px;
		border-radius: 10px;
		text-align: center;
		background-color: $default-bg-color;
		.link {
			color: white;
		}
	}
	@include media-breakpoint-only(sm) {
		margin-bottom: 40px;
	}
}

.col-flex-20 {
	margin-bottom: 20px;
	width: 18%;
}
