.polen-card {
	.image {
		padding: 20px;
		font-size: 20px;
		border-radius: 10px;
		box-sizing: border-box;
		background: no-repeat center/cover $default-bg-color;
	}
	&.big {
		.image {
			border-radius: 0;
		}
	}
	&.medium {
		.image {
			height: 330px;
		}
	}
	&.small {
	}
	&.category {
		.image {
			padding: 50px 20px;
			text-align: center;
		}
	}
}
