$light-100: #fff;
$light-50: #c4c4c4;
$light-25: rgba(#ffffff, 0.25);
$dark-100: #000;
$dark-50: rgba(#000000, 0.5);
$dark-25: rgba(#000000, 0.25);
$error-box-color: #fdebeb;

$body-bg: #000;
$body-color: $light-100;
$primary: #d7198b;
$primary-hover: #cc30f8;
$secondary: #377dff;
$accept: #3cc13b;
$teal: #ebf9eb;
$danger: #ff000f;
$danger-bg: #fdebeb;

$progress-bar-bg: $secondary;
$nav-tabs-link-active-color: $primary;
$nav-tabs-border-color: $light-50;

$default-bg-color: $light-25;
$secondary-bg-color: $light-50;
$font-transparent: $light-50;
$talent-bg-color: #272727;
$form-bg-color: $talent-bg-color;
$form-bg-color-contrast: #404040;
$font-color2: $light-50;
$input-font-color: $light-100;

$theme-colors: (
	"primary": $primary,
	"primary-hover": $primary-hover,
	"secondary": $secondary,
	"success": $accept,
	"teal": $teal,
	"danger": $danger,
	"danger-bg": $danger-bg,
	"light": $light-100,
	"gray": $talent-bg-color,
	"gray-dark": $talent-bg-color,
	"dark": $dark-100,
	"subtext": #767676,
);
