$body-bg: #12141d;
$body-color: white;
$primary: #e61681;
$danger: #ff4136;
$secondary: #377dff;

$theme-colors: (
	"primary": $primary,
	"danger": $danger,
);

$default-bg-color: #1e2029;
$secondary-bg-color: rgba(196, 196, 196, 0.4);
$font-transparent: rgba(255,255,255,0.4);
$talent-bg-color: #323335;
$form-bg-color: #171922;
$font-color2: #d0d4ea;
$input-font-color: #9fa4bc;
