.spinner-border {
	border-right-color: $light-100;
}

.modal {
	.modal-dialog {
		margin: 0 auto;
	}
	.modal-content {
		background-color: transparent;
		.close {
			position: absolute;
			top: 6px;
			right: 12px;
			color: $light-100;
		}
	}
}

.nav-tabs {
	.nav-link {
		color: $light-50;
	}
}

.slick-arrow {
	margin-bottom: 10px;
	font-size: 0;
	line-height: 0;
	border: none;
	background: none;
	&::after {
		content: "";
		display: inline-block;
		width: 15px;
		height: 15px;
		border: 2px solid transparent;
		transform: rotate(45deg);
	}
	&.slick-prev {
		margin-right: -10px;
		&::after {
			border-bottom-color: $light-100;
			border-left-color: $light-100;
		}
	}
	&.slick-next {
		&::after {
			border-top-color: $light-100;
			border-right-color: $light-100;
		}
	}
}

.avatar {
	display: inline-block;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background: no-repeat center/cover;
	&.avatar-lg {
		width: 120px;
		height: 120px;
	}
	&.avatar-md {
		width: 48px;
		height: 48px;
	}
	&.avatar-sm {
		width: 40px;
		height: 40px;
	}
	&.avatar-xs {
		width: 32px;
		height: 32px;
	}
}

.icon {
	text-decoration: none;
	vertical-align: middle;
	&:hover,
	&:active {
		text-decoration: none;
	}
}

.fog {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: $dark-50;
	opacity: 0;
	transition: opacity 300ms ease;
	z-index: 998;
	&.inner {
		position: absolute;
		width: 100%;
		height: 100%;
	}
	&.show {
		opacity: 1;
	}
	.spinner {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.message-box {
	position: fixed;
	padding: 16px;
	top: 15px;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 30px);
	max-width: 345px;
	box-sizing: border-box;
	border-radius: $border-radius-lg;
	background-color: var(--gray);
	opacity: 0;
	transition: opacity 300ms ease;
	z-index: 999;
	&.show {
		opacity: 1;
	}
	.message-title,
	.message-text {
		margin: 0;
		font-size: 12px;
		color: var(--dark);
	}
}

.message-box {
	&.success {
		background-color: var(--teal);
		.bi-check-circle {
			font-size: 45px;
			&::before {
				vertical-align: top;
			}
		}
		.message-close {
			position: absolute;
			top: 10px;
			right: 8px;
			border: none;
			background: none;
			i {
				font-size: 16px;
				color: $dark-50;
			}
		}
	}
}

.message-box {
	&.error {
		display: flex;
		justify-content: space-between;
		background-color: var(--danger-bg);
		.icon-error-o {
			font-size: 20px;
			&::before {
				vertical-align: top;
			}
		}
		.message-text {
			margin-top: 6px;
			width: 100%;
		}
		.message-close {
			border: none;
			background: none;
			.i {
				font-size: 10px;
				color: rgba(17, 0, 0, 0.5);
			}
		}
	}
}
