.site-footer {
	border-top: 1px solid $light-25;
	.title,
	.description,
	a {
		font-size: 16px;
		line-height: 24px;
	}
	.title {
		font-weight: 600;
	}
	.description {
		font-weight: 500;
	}
	a {
		color: white;
		font-weight: 400;
	}
}

.footer-menu {
	li {
		margin: 10px 0;
		a {
			font-size: 14px;
			line-height: 21px;
			font-weight: 400;
			color: $light-50;
		}
	}
}

.copyright {
	font-size: 16px;
	font-weight: 700;
	.social {
		> * {
			margin: 0 8%;
		}
	}
}
