.site {
	position: relative;
}

.header-home {
	position: absolute;
	width: 100%;
	z-index: 110;
	.btn {
		color: var(--light) !important;
		border-color: var(--light) !important;
		&:active,
		&:hover {
			color: var(--dark) !important;
			background-color: var(--light) !important;
		}
	}
	.dropdown {
		.menu-user-data {
			.text {
				color: var(--light) !important;
			}
		}
	}
}

.custom-logo {
	width: 5rem;
	max-width: 165px !important;
	height: auto;
	&.custom-logo-criesp {
		margin-left: 1rem;
		padding-left: 1rem;
		width: 140px;
		border-left: 1px solid var(--light);
		&.light {
			border-color: var(--dark);
		}
	}
	@include media-breakpoint-down(sm) {
		width: 4rem;
		&.custom-logo-criesp {
			width: 106px;
		}
	}
}

/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.dropbtn {
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
}

.dropdown {
	position: relative;
	display: inline-block;
	// z-index: 97;
	&:hover {
		.dropbtn {
			color: $light-100;
		}
	}
	.dropbtn {
		padding: 0;
		.icon {
			margin-left: 5px;
			font-size: 24px;
		}
	}
	.dropdown-content {
		position: absolute;
		display: block;
		opacity: 0;
		padding: 0.3rem;
		right: 0;
		min-width: 160px;
		border-radius: 0.3rem;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		transition: opacity 250ms ease;
		z-index: -1;
		&.show {
			opacity: 1;
			top: 0;
			z-index: 97;
		}
		a {
			padding: 5px 10px;
			text-decoration: none;
			display: block;
			font-size: 14px;
			color: inherit;
		}
		@include media-breakpoint-down(sm) {
			position: fixed;
			padding: 1rem;
			width: 100vw;
			height: 100vh;
			top: -150vh;
			left: 0;
			a {
				padding: 10px 0;
				font-size: 24px;
			}
			.menu-close {
				position: absolute;
				top: 0;
				right: 1rem;
				z-index: 99;
				.icon,
				.bi {
					font-size: 24px;
					color: inherit;
				}
			}
			.user-name {
				font-size: 16px;
				font-weight: 600;
				color: inherit;
			}
		}
	}
	.menu-user-data {
		display: flex;
		align-items: center;
		// width: 70px;
		.bi {
			margin-left: 10px;
		}
	}
	.user-avatar {
		width: 48px;
		height: 48px;
		border-radius: 50%;
		box-sizing: border-box;
		overflow: hidden;
		background-color: var(--primary);
		img {
			width: 100%;
			height: auto;
			// &.avatar-default {
			// 	display: none;
			// }
		}
		span {
			font-size: 12px;
			font-weight: 600;
			color: var(--light);
		}
	}
}

.order-title {
	font-size: 16px;
	font-weight: 700;
	color: white;
}

.image-cropper {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	font-weight: 600;
	line-height: 1;
	text-align: center;
	color: var(--light);
	width: 54px;
	height: 54px;
	overflow: hidden;
	border-radius: 50%;
	background-color: var(--primary);
	&.color {
		background-color: var(--gray-dark);
	}
	&.small {
		width: 48px;
		height: 48px;
	}
	&.large {
		width: 120px;
		height: 120px;
	}
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.text-cropper {
	@extend .image-cropper;
	background-color: var(--primary);
}

.profile-pic {
	max-width: 50px;
}
