.custom-logo {
    width: 33vw;
    height: auto;
}

.dropdown {
    .dropdown-content {
        padding: 0.3rem;
        border-radius: 0.3rem;
        background-color: $default-bg-color;
        a {
            color: $input-font-color;
        }
    }
}
