.custom-logo {
	width: 7.3rem;
	max-width: 165px !important;
	height: auto;
	@include media-breakpoint-down(sm) {
		width: 5rem;
	}
}

/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.dropbtn {
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
}

.dropdown {
	position: relative;
	display: inline-block;
	// z-index: 97;
	&:hover {
		.dropbtn {
			color: $light-100;
		}
	}
	.dropbtn {
		padding: 0;
		.icon {
			margin-left: 5px;
			font-size: 24px;
		}
	}
	.dropdown-content {
		position: absolute;
		display: block;
		opacity: 0;
		padding: 0.3rem;
		right: 0;
		min-width: 160px;
		border-radius: 0.3rem;
		background-color: $talent-bg-color;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		transition: opacity 250ms ease;
		z-index: -1;
		&.show {
			opacity: 1;
			z-index: 97;
		}
		a {
			padding: 5px 10px;
			text-decoration: none;
			display: block;
			font-size: 14px;
			color: $input-font-color;
		}
		@include media-breakpoint-down(sm) {
			position: fixed;
			padding: 1rem;
			width: 100vw;
			height: 100vh;
			top: 0;
			left: 0;
			background-color: $dark-100;
			a {
				padding: 10px 0;
				font-size: 24px;
			}
			.menu-close {
				position: absolute;
				top: 0;
				right: 1rem;
				z-index: 99;
				.icon, .bi {
					font-size: 24px;
					color: $light-100;
				}
			}
			.user-name {
				font-size: 16px;
				font-weight: 600;
			}
		}
	}
	.menu-user-data {
		display: flex;
		align-items: center;
		width: 70px;
		.bi {
			margin-left: 10px;
		}
	}
	.user-avatar {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		box-sizing: border-box;
		overflow: hidden;
		background-color: var(--primary);
		img {
			width: 40px;
			height: 40px;
		}
		span {
			font-size: 14px;
			font-weight: 600;
			color: var(--light);
		}
	}
}

.order-title {
	font-size: 16px;
	font-weight: 700;
	color: white;
}

.image-cropper {
	position: relative;
	display: inline-block;
	width: 54px;
	height: 54px;
	overflow: hidden;
	border-radius: 50%;
	background-color: #1e2029;
	&.small {
		width: 48px;
		height: 48px;
	}
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.text-cropper {
	@extend .image-cropper;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	font-weight: 600;
	line-height: 1;
	text-align: center;
	background-color: $primary;
}

.profile-pic {
	max-width: 50px;
}

.woocommerce-MyAccount-navigation li a {
	text-decoration: none;
	font-size: 18px;
	font-weight: 600;
	color: white;
}

.woocommerce-MyAccount-navigation li {
	padding: 12px 20px;
}
