@font-face {
	font-family: "PolenIcons";
	src: url('../fonts/PolenIcons.eot');
	src: url('../fonts/PolenIcons.eot?#iefix') format('eot'),
		url('../fonts/PolenIcons.woff') format('woff'),
		url('../fonts/PolenIcons.ttf') format('truetype'),
		url('../fonts/PolenIcons.svg#PolenIcons') format('svg');
}

@mixin icon-styles {
	font-family: "PolenIcons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == camera-video {
		$char: "\E001";
	}
	@if $filename == check-o {
		$char: "\E002";
	}
	@if $filename == chevron-down {
		$char: "\E003";
	}
	@if $filename == clock {
		$char: "\E004";
	}
	@if $filename == close-o {
		$char: "\E005";
	}
	@if $filename == close {
		$char: "\E006";
	}
	@if $filename == copy {
		$char: "\E007";
	}
	@if $filename == error-o {
		$char: "\E008";
	}
	@if $filename == facebook {
		$char: "\E009";
	}
	@if $filename == hand-thumbs-up {
		$char: "\E00A";
	}
	@if $filename == instagram {
		$char: "\E00B";
	}
	@if $filename == linkedin {
		$char: "\E00C";
	}
	@if $filename == phone {
		$char: "\E00D";
	}
	@if $filename == search {
		$char: "\E00E";
	}
	@if $filename == software-download {
		$char: "\E00F";
	}
	@if $filename == star-fill {
		$char: "\E010";
	}
	@if $filename == star {
		$char: "\E011";
	}
	@if $filename == trash {
		$char: "\E012";
	}
	@if $filename == twitter {
		$char: "\E013";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-camera-video {
	@include icon(camera-video);
}
.icon-check-o {
	@include icon(check-o);
}
.icon-chevron-down {
	@include icon(chevron-down);
}
.icon-clock {
	@include icon(clock);
}
.icon-close-o {
	@include icon(close-o);
}
.icon-close {
	@include icon(close);
}
.icon-copy {
	@include icon(copy);
}
.icon-error-o {
	@include icon(error-o);
}
.icon-facebook {
	@include icon(facebook);
}
.icon-hand-thumbs-up {
	@include icon(hand-thumbs-up);
}
.icon-instagram {
	@include icon(instagram);
}
.icon-linkedin {
	@include icon(linkedin);
}
.icon-phone {
	@include icon(phone);
}
.icon-search {
	@include icon(search);
}
.icon-software-download {
	@include icon(software-download);
}
.icon-star-fill {
	@include icon(star-fill);
}
.icon-star {
	@include icon(star);
}
.icon-trash {
	@include icon(trash);
}
.icon-twitter {
	@include icon(twitter);
}
