body {
	font-family: $font-primary;
	font-size: 13px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: white;
	// color: $black;
	// background-color: $white;
	// @media (prefers-color-scheme: dark) {
	// 	color: $white;
	// 	background-color: $black;
	// }
	&.no-scroll {
		overflow: hidden;
	}
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

pre {
	color: white;
}

select {
	padding: 15px 15px !important;
	-webkit-appearance: none;
}

iframe {
	display: block;
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}
