body {
	font-family: "Inter", sans-serif;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

h1,
h2,
h3,
h4 {
	font-family: "Poppins", sans-serif;
}

h2 {
	font-size: 54px;
	font-weight: 600;
}
