.image-bg {
	position: fixed;
	width: 100vw;
	height: auto;
	top: 0;
	left: 0;
	opacity: 0.3;
	z-index: -1;
	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background: linear-gradient(360deg, #000 0%, rgba(0, 0, 0, 0) 100%);
	}
}

.talent-name {
	font-size: 44px;
	line-height: 66px;
}
.price,
.subtitle {
	font-size: 24px;
	font-weight: 700;
}

.tag-link {
	display: inline-block;
	padding: 3px 10px;
	font-size: 14px;
	font-weight: 400;
	color: $light-50;
	border-radius: 2px;
	background-color: $light-25;
}

.talent-carousel {
	position: relative;
	// height: 70vw;
	margin: 25px -15px 0 0;
	.item {
		position: relative;
		display: inline-block;
		margin-right: 15px;
		height: 63vw;
		border-radius: 6px;
		overflow: hidden;
		background: no-repeat center/cover;
		&::after {
			content: "";
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			background: linear-gradient(360deg, #000000 -17.41%, rgba(0, 0, 0, 0) 55.71%);
		}
		img {
			display: none;
		}
		.player-button {
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			z-index: 10;
			&::after {
				content: "";
				position: absolute;
				display: inline-block;
				width: 0;
				height: 0;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				border-top: 12px solid transparent;
				border-bottom: 12px solid transparent;

				border-left: 16px solid $light-100;
			}
		}
	}
}

.share-button {
	border: none;
	background: none;
	color: white;
	cursor: pointer;
}

.video-modal {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: auto;
	background-color: rgba($color: #000000, $alpha: 0.5);
	z-index: 99;
	&.show {
		display: block;
	}
}

.video-card {
	position: relative;
	margin: 24px auto;
	width: calc(100% - 32px);
	min-height: 300px;
	border-radius: 8px;
	box-sizing: border-box;
	background-color: $talent-bg-color;
	overflow: hidden;
	font-family: $font-secondary;
	.polen-video {
		max-width: 100%;
		background-color: $secondary-bg-color;
		iframe {
			// max-width: 100% !important;
		}
	}
	.share-link {
		margin-bottom: 20px;
		font-family: inherit;
		font-size: 16px;
		font-weight: 600;
		border-color: $light-50;
		i {
			margin-right: 10px;
		}
	}
	.close-button {
		position: absolute;
		padding: 0;
		width: 24px;
		height: 24px;
		top: 12px;
		right: 12px;
		font-size: 1.2em;
		color: $light-100;
		border: none;
		border-radius: 50%;
		background-color: $light-25;
	}
}

.content-header {
	.avatar {
		padding-bottom: 100%;
		width: 100%;
		height: 0;
		border-radius: 50%;
		background: no-repeat center/cover;
	}
	.name {
		margin: 0;
		font-family: inherit;
		font-size: 24px;
		font-weight: 700;
	}
	.cat {
		font-family: inherit;
		font-size: 16px;
		font-weight: 400;
		color: $light-50;
	}
	.url {
		font-family: inherit;
		font-size: 14px;
		font-weight: 400;
		word-wrap: break-word;
	}
}

.share-input {
	position: fixed;
	z-index: -99999;
}

.skill-title {
	font-size: 16px;
	font-weight: 400;
	color: $light-100;
}

.skill-value {
	font-size: 16px;
	font-weight: 700;
}

.talent-page-footer {
	border-bottom: 1px solid $light-25;
}

.talent-dashboard-start {
	.p {
		margin: 0;
		color: rgba($color: #ffffff, $alpha: 0.4);
		&.small {
			font-size: 16px;
		}
	}
	.msg {
		position: relative;
		margin-bottom: 30px;
		border-radius: 1rem;
		box-sizing: border-box;
	}
	.msg-header {
		padding: 55px 40px;
		background-color: $secondary;
	}
	.msg-body {
		background-color: rgba(196, 196, 196, 0.2);
	}
	.icon {
		position: absolute;
		margin: 0;
		left: 36px;
		bottom: 0;
		img {
			width: auto;
			height: auto;
		}
	}
	.value,
	.time {
		font-weight: 700;
		line-height: 1.2;
		color: white;
	}
	.value {
		font-size: 50px;
		&.small {
			font-size: 32px;
		}
	}
	.time {
		font-size: 32px;
	}
}

.talent-order {
	padding: 32px;
	border-radius: 8px;
	box-sizing: border-box;
	background-color: $talent-bg-color;
	.bordered {
		border-bottom: 1px solid $light-50;
	}
	.title,
	.description {
		margin: 0;
		font-family: $font-secondary;
		font-size: 16px;
		font-weight: 700;
	}
	.title {
		color: $light-50;
	}

	.description {
	}
}

.talent-order-modal {
	position: relative;
	width: 100%;
	border-radius: 10px;
	overflow: hidden;
	background-color: $talent-bg-color;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	.header {
		padding: 60px;
		box-sizing: border-box;
		background-color: $secondary;
	}
	.body {
		padding: 60px;
		box-sizing: border-box;
	}
	.p {
		margin: 0;
		font-size: 24px;
		font-weight: 700;
		color: $font-transparent;
		&.small {
			font-size: 16px;
		}
	}
	.value {
		font-size: 44px;
		font-weight: 700;
	}
	.time {
		font-size: 24px;
		font-weight: 700;
	}
	.name {
		font-size: 32px;
		font-weight: 700;
	}
	.category {
		padding: 5px 23px;
		font-size: 16px;
		border: 1px solid white;
		border-radius: 90px;
	}
	.text {
		font-size: 21px;
		font-weight: 500;
	}
}

.talent-card {
	position: relative;
	padding: 16px;
	font-family: $font-secondary;
	border-radius: 8px;
	// overflow: hidden;
	box-sizing: border-box;
	background-color: $secondary;
	.header {
		border-bottom: 1px dashed $light-25;
	}
	.details-box {
		max-height: 0px;
		overflow: hidden;
		transition: all ease 250ms;
		.details {
			border-top: 1px dashed $light-25;
		}
		&.show {
			max-height: 500px;
		}
	}
	.price-box {
		position: relative;
	}
	.show-details {
		position: absolute;
		padding-top: 5px;
		width: 39px;
		height: 39px;
		bottom: 0;
		right: 0;
		border: none;
		border-radius: 50%;
		color: $light-100;
		background-color: $light-25;
		&:active,
		&:focus {
			outline: transparent;
		}
		&.-active {
			transform: rotate(180deg);
		}
	}
	.avatar {
		padding-bottom: 100%;
		width: 100%;
		height: 0;
		border-radius: 50%;
		background: no-repeat center/cover;
	}
	.name {
		margin: 0;
		font-family: inherit;
		font-size: 16px;
		font-weight: 700;
	}
	.cat {
		font-family: inherit;
		font-size: 14px;
		font-weight: 400;
		line-height: 21px;
		color: $light-50;
	}
	.title {
		font-family: inherit;
		font-size: 14px;
		font-weight: 700;
		color: $light-50;
		&.big {
			font-size: 16px;
		}
	}
	.price {
		margin: 0;
		font-family: inherit;
		font-size: 32px;
		line-height: 1;
		font-weight: 700;
	}
	.value {
		font-family: inherit;
		font-size: 16px;
		line-height: 1.6;
		font-weight: 700;
	}
}
