.talent-page-header {
	.talent-name {
		font-size: 44px;
		line-height: 66px;
	}
	.price {
		font-size: 24px;
		font-weight: 700;
	}
	.btn-get-video {
		height: 90px;
	}
}

.tag-link {
	display: inline-block;
	padding: 3px 40px;
	font-size: 15px;
	font-weight: 700;
	color: white;
	border-radius: 5px;
	background-color: $secondary-bg-color;
}

.talent-carousel {
	position: relative;
	height: 461px;
	margin: 25px 0;
	.item {
		position: relative;
		display: inline-block;
		margin-right: 20px;
		height: 461px;
		border-radius: 6px;
		overflow: hidden;
		img {
			width: auto;
			height: 100%;
		}
		.player-button {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.share-button {
	border: none;
	background: none;
	color: white;
	cursor: pointer;
}

.video-modal {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba($color: #000000, $alpha: 0.5);
	z-index: 98;
	&.show {
		display: block;
	}
}

.video-box {
	position: fixed;
	display: none;
	padding: 125px 0;
	top: 50%;
	left: 50%;
	min-width: 300px;
	transform: translate(-50%, -50%);
	border-radius: 26px;
	box-sizing: border-box;
	background-color: $default-bg-color;
	z-index: 99;
	&.show {
		display: block;
	}
	.polen-video {
		background-color: $secondary-bg-color;
	}
	.share-button {
		position: absolute;
		top: 50px;
		right: 20%;
		display: none;
		&.show {
			display: block;
		}
	}
}

.share-input {
	position: fixed;
	z-index: -99999;
}

.skill-title {
	color: $font-color2;
}

.talent-dashboard-start {
	.p {
		margin: 0;
		color: rgba($color: #ffffff, $alpha: 0.4);
		&.small {
			font-size: 16px;
		}
	}
	.msg {
		position: relative;
		margin-bottom: 30px;
		border-radius: 1rem;
		box-sizing: border-box;
	}
	.msg-header {
		padding: 55px 40px;
		background-color: $secondary;
	}
	.msg-body {
		background-color: rgba(196, 196, 196, 0.2);
	}
	.icon {
		position: absolute;
		margin: 0;
		left: 36px;
		bottom: 0;
		img {
			width: auto;
			height: auto;
		}
	}
	.value,
	.time {
		font-weight: 700;
		line-height: 1.2;
		color: white;
	}
	.value {
		font-size: 50px;
		&.small {
			font-size: 32px;
		}
	}
	.time {
		font-size: 32px;
	}
}

.talent-order {
	padding: 32px;
	border-radius: 8px;
	box-sizing: border-box;
	background-color: $talent-bg-color;
	.bordered {
		border-bottom: 1px solid $light-50;
	}
	.title,
	.description {
		margin: 0;
		font-family: $font-secondary;
		font-size: 16px;
		font-weight: 700;
	}
	.title {
		color: $light-50;
	}

	.description {
	}
}

.talent-order-modal {
	position: relative;
	width: 692px;
	border-radius: 10px;
	overflow: hidden;
	background-color: $talent-bg-color;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	.header {
		padding: 60px;
		box-sizing: border-box;
		background-color: $secondary;
	}
	.body {
		padding: 60px;
		box-sizing: border-box;
	}
	.p {
		margin: 0;
		font-size: 24px;
		font-weight: 700;
		color: $font-transparent;
		&.small {
			font-size: 16px;
		}
	}
	.value {
		font-size: 44px;
		font-weight: 700;
	}
	.time {
		font-size: 24px;
		font-weight: 700;
	}
	.name {
		font-size: 32px;
		font-weight: 700;
	}
	.category {
		padding: 5px 23px;
		font-size: 16px;
		border: 1px solid white;
		border-radius: 90px;
	}
	.text {
		font-size: 21px;
		font-weight: 500;
	}
}
