@mixin theme-light {
	color: var(--dark);
	background-color: var(--light);
	.btn-outline-light {
		color: var(--dark);
		border-color: var(--gray);
		&:hover,
		&:active {
			color: var(--light);
			background-color: var(--dark);
		}
	}
	.box-round,
	.tag-link,
	.box-color,
	.woocommerce-MyAccount-navigation li.is-active {
		background-color: var(--box-color-light);
	}
	.text {
		color: var(--dark);
	}
	.background {
		background-color: var(--light);
	}
	.subtitle,
	.footer-menu li a {
		color: var(--subtitle-dark);
	}
	.form-control,
	.form-control:focus,
	.form-control:disabled,
	.form-control[readonly] {
		background-color: var(--box-color-light);
	}
	.image-bg {
		&::after {
			background: linear-gradient(
				360deg,
				#fff 0%,
				rgba(255, 255, 255, 0) 100%
			);
		}
	}
}

@mixin theme-dark {
	color: var(--light);
	background-color: var(--dark);
	.btn-outline-light {
		color: var(--light);
		border-color: var(--gray-light);
		&:hover,
		&:active {
			color: var(--dark);
			background-color: var(--light);
		}
	}
	.box-round,
	.tag-link,
	.box-color,
	.woocommerce-MyAccount-navigation li.is-active {
		background-color: var(--box-color-dark);
	}
	.text {
		color: var(--light);
	}
	.background {
		background-color: var(--dark);
	}
	.subtitle,
	.footer-menu li a {
		color: var(--subtitle-light);
	}
	.form-control,
	.form-control:focus,
	.form-control:disabled,
	.form-control[readonly] {
		background-color: var(--gray-dark);
	}
	.image-bg {
		&::after {
			background: linear-gradient(360deg, #000 0%, rgba(0, 0, 0, 0) 100%);
		}
	}
}

@mixin theme-auto {
	@include theme-light();
	@media (prefers-color-scheme: dark) {
		@include theme-dark();
	}
}
