@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");
$font-primary: "Inter", sans-serif;
$font-secondary: "Poppins", sans-serif;

h1,
h2,
h3,
h4 {
	font-family: $font-secondary;
}

h1,
h2 {
	font-size: 54px;
	font-weight: 600;
	@include media-breakpoint-only(xs) {
		font-size: 2rem;
	}
}

h4,
.h4 {
	margin-bottom: 20px;
	font-size: 1.2rem;
}

p {
	font-size: 20px;
	font-weight: 500;
}

.title-alt {
	font-family: $font-primary;
	font-size: 26px;
	font-weight: 700;
}
