.va-top-banner {
	position: relative;
	height: 290px;
	.box-round {
		position: absolute;
		width: 100%;
		height: 230px;
		top: 60px;
		overflow: hidden;
		background-color: var(--dark);
		.img-bg {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.content {
		position: relative;
		margin: auto;
		max-width: 200px;
		text-align: center;
		.title {
			margin: -15px 0 0;
			font-size: 20px;
			font-weight: 700;
			color: var(--light);
		}
	}
}

.book-info-wrapp {
	.title {
		font-size: 14px;
	}
	p {
		font-size: 12px;
		line-height: 1.8;
		&.more-text {
			display: none;
		}
	}
}

.book-info {
	text-align: center;
	.title {
		font-size: 9px;
	}
	.icon {
		margin: 6px 0;
		font-size: 20px;
	}
	.description {
		font-size: 9px;
		font-weight: 700;
	}
}

.book-rate {
	.icon {
		font-size: 28px;
	}
	.skill-value {
		position: relative;
		margin: 15px auto 0;
		display: block;
		&::before {
			content: "Nota: ";
		}
		&::after {
			content: "";
			position: absolute;
			display: block;
			width: 25px;
			height: 1px;
			bottom: 3px;
			left: calc(50% + 9px);
			background-color: var(--dark);
		}
	}
}
